<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои задачи</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Список задач</h1>
    <form method ="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Введите новую задачу" required>
        <button type="submit">Добавить</button>
    </form>
    <ul>
        {% for task in tasks %}
            <li>
                {{ task.title }} -
                {% if task.done %} ✅ Выполнено {% else %} ❌ Не выполнено {% endif %}
                {% if task.done %}
                    <a href="{% url 'toggle_task' task.id %}">[Ещё не выполнена]</a>
                {% else %}
                    <a href="{% url 'toggle_task' task.id %}">[Выполнить]</a>
                {%endif%}
            </li>
        {%endfor%}
    </ul>

</body>
</html>